body {
  @include light;
  color: #535353;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.input-phone {
  border: 1px solid #e8e8e8;
  border-radius: 20px;
  font-size: 13px;
  @include med;
  color: #9c9c9c;
  outline: none;
  text-align: center;
  width: 100%;
  padding: 14px 0;
  transition: border .2s;

  &:focus {
    border: 1px solid #5892a6;
    padding-left: 60px;
    text-align: left;

    &::placeholder {
      color: transparent;
    }
  }
}

.btn_blue {
  box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background: #68b0c9;
  border-radius: 22.5px;
  font-size: 14px;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  @include bold;
  cursor: pointer;
  transition: background .2s;

  &:hover {
    background: darken(#68b0c9, 5%);
  }
}