.address {
  background-color: #ecf3f8;
  padding: 50px 0;
  @media (max-width: 628px) {
    padding: 35px 0;
  }
  &__container {
    max-width: 865px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 815px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__map {
    max-width: 460px;
    width: 100%;
    @media (max-width: 815px) {
      margin-top: 60px;
    }
  }

  &__content {
    max-width: 280px;
    text-align: center;
    padding: 30px 0;
    @media (max-width: 815px) {
      padding: 0;
    }
  }

  &__icon {
    
  }

  &__text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.2;
    @include light;
    color: #535353;
  }

  &__street {
    display: block;
    margin: 20px 0 50px;
    font-size: 20px;
    @include bold;
    color: #68b0c9;
  }

  &__btn {
    padding: 17px 47px;
    margin-top: 20px;
  }
}

#map {
  display: block;
  border: 0;
  height: 320px;
  width: 100%;
  border-radius: 20px;
}