.comparison {
  background: url(../img/comparison/bg.jpg) no-repeat 51% 145px;
  padding: 156px 0 78px;
  @media (max-width: 643px) {
    background: none;
  }
  @media (max-width: 686px) {
    padding: 62px 0 78px;
  }
  @media (max-width: 628px) {
    padding: 41px 0 41px;
  }
  &__content {
    max-width: 926px;
    margin: 0 auto;
  }

  &__cols {
    display: flex;
    justify-content: space-between;
    @media (max-width: 643px) {
      justify-content: space-around;
    }
    @media (max-width: 511px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    display: inline-block;
    font-size: 22px;
    margin: 0 30px 46px;
    line-height: 1.2;
    max-width: 150px;
    position: absolute;
    top: -93px;
    @media (max-width: 472px) {
      margin: 0 5px 46px;
    }
    @media (max-width: 827px) {
      margin: 0 70px 46px;
    }
    @media (max-width: 729px) {
      margin: 0 100px 46px;
    }
    @media (max-width: 686px) {
      position: static;
      margin: 0 0 46px;
    }
    @media (max-width: 511px) {
      margin-bottom: 30px;
    }
    &_1 {
      text-align: right;
      color: #535353;
      top: -94px;
      right: -222px;
      @media (max-width: 511px) {
        text-align: left;
      }
    }

    &_2 {
      text-align: left;
      color: #68b0c9;
      left: -217px;
    }
  }

  &__col {
    line-height: 1.2;
    @include bold;
    font-size: 15px;
    position: relative;
    @media (max-width: 511px) {
      margin: 0 auto;
    }
    &:not(:last-child) {
      @media (max-width: 511px) {
        margin-bottom: 30px;
      }
    }
    &_1 {
      max-width: 208px;
      text-align: right;
      color: #939393;
      @media (max-width: 511px) {
        text-align: left;
      }
    }

    &_2 {
      max-width: 210px;
      color: #68b0c9;
    }
  }

  &__text {
    &:not(:last-child) {
      margin: 0 0 30px;
    }
    &:last-child {
      margin: 0;
    }
    position: relative;
    &_1 {
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 83px;
        height: 43px;
        background: url(../img/comparison/01.svg);
        right: -103px;
        top: 5px;
        @media (max-width: 686px) {
          display: none;
        }
      }
    }

    &_2 {
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 88px;
        height: 30px;
        background: url(../img/comparison/02.svg);
        right: -103px;
        top: 3px;
        @media (max-width: 686px) {
          display: none;
        }
      }
    }

    &_3 {
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 89px;
        height: 24px;
        background: url(../img/comparison/03.svg);
        right: -107px;
        top: -14px;
        @media (max-width: 686px) {
          display: none;
        }
      }
    }

    &_4 {
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 88px;
        height: 34px;
        background: url(../img/comparison/04.svg);
        right: -103px;
        top: -28px;
        @media (max-width: 686px) {
          display: none;
        }
      }
    }

    &_5 {
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 83px;
        height: 43px;
        background: url(../img/comparison/05.svg);
        left: -104px;
        top: 5px;
        @media (max-width: 686px) {
          display: none;
        }
      }
    }

    &_6 {
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 87px;
        height: 30px;
        background: url(../img/comparison/06.svg);
        left: -104px;
        top: 3px;
        @media (max-width: 686px) {
          display: none;
        }
      }
    }

    &_7 {
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 91px;
        height: 26px;
        background: url(../img/comparison/07.svg);
        left: -101px;
        top: -14px;
        @media (max-width: 686px) {
          display: none;
        }
      }
    }

    &_8 {
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 86px;
        height: 37px;
        background: url(../img/comparison/08.svg);
        left: -105px;
        top: -31px;
        @media (max-width: 686px) {
          display: none;
        }
      }
    }
  }
}
