.discount {
  background-color: #ebf2f7;
  background-image: url(../img/discount/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  @media (max-width: 522px) {
    background-image: none;
  }
  &__content {
    padding: 70px 0 50px;
    margin-left: auto;
    text-align: center;
    max-width: 360px;
    position: relative;
    @media (max-width: 628px) {
      padding: 45px 0 35px;
    }
    @media (max-width: 519px) {
      margin: 0 auto;
    }
  }

  &__title {
    font-size: 55px;
    @include bold;
    text-transform: uppercase;
    color: #535353;
    margin-bottom: 5px;
    @media (max-width: 373px) {
      font-size: 50px;
    }
    @media (max-width: 343px) {
      font-size: 45px;
    }
  }
  &__subtitle {
    font-size: 26px;
    @include black;
    text-transform: uppercase;
    color: #535353;
    @media (max-width: 373px) {
      font-size: 20px;
    }
    &_blue {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 25px;
      text-transform: none;
      color: #68b0c9;
      margin-top: 10px;
      @media (max-width: 373px) {
        font-size: 18px;
      }
    }
  }
  &__icon {
    margin-right: 10px;
  }
}

.discount-action {
  margin: 47px auto 0;
  border: 5.0px solid #ffffff;
  border-radius: 22.5px;
  padding: 37px 20px 28px 20px;
  max-width: 275px;
  position: relative;
  &::before {
    content: '';
    display: block;
    width: 160px;
    position: absolute;
    height: 70px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/discount/arrow.svg);
    right: 300px;
    bottom: 20px;
    @media (max-width: 614px) {
      transform: rotate(35deg);
      width: 120px;
      height: 60px;
    }
    @media (max-width: 519px) {
      display: none;
    }
  }
  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.2;
    color: #d35656;
    @include bold;
  }

  &__date {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/discount/calendar.png);
    font-size: 30px;
    line-height: 31px;
    color: #ffffff;
    width: 48px;
    height: 43px;
    margin: 0 13px;
    text-align: left;
    &-number {
      margin-right: 2px;
      margin-top: 3px;
    }
  }

  &__btn {
    display: inline-block;
    text-decoration: none;
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.1);
    background: #68b0c9;
    border-radius: 22.5px;
    padding: 20px 62px;
    font-size: 16px;
    margin-top: 35px;
    @include bold;
    text-transform: uppercase;
    color: #ffffff;
    transition: background .2s;
    &:hover {
      background: darken(#68b0c9, 5%);
    }
  }
  &__time {
    max-width: 72px;
    text-align: left;
  }
}

.discount-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  bottom: 150px;
  right: 450px;
  @media (max-width: 614px) {
    right: 350px;
  }
  @media (max-width: 519px) {
    display: none;
  }
  &__prev-cost {
    font-size: 18px;
    text-decoration: line-through;
    color: #1e1e1e;
    margin-top: 44px;
  }

  &__new-cost {
    font-size: 30px;
    @include bold;
    color: #d04545;
    margin-top: 10px;
  }

  &__line {
    width: 120px;
    height: 1px;
    background-color: #e8e8e8;
    margin-top: 10px;
  }
}
