.navbar {
  padding: 15px 0;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (max-width: 470px) {
    padding: 0 5px;
  }
}

.phone {
  text-align: right;
  transition: all .2s;
  &__tel {
    display: inline-block;
    font-size: 24px;
    @include bold;
    color: #5e5e5e;
    text-decoration: none;
    margin-bottom: 10px;
    &:hover {
      transform: translateY(-1px);
    }
    @media (max-width: 345px) {
      font-size: 20px;
    }
  }

  &__form-link {
    cursor: pointer;
    font-size: 14px;
    @include med;
    text-decoration: underline;
    color: #5892a6;
    &:hover {
      color: #558494;
    }
    @media (max-width: 345px) {
      font-size: 12px;
    }
  }
}

.logo {
  @media (max-width: 470px) {
    max-width: 80%;
  }
}