.why {

  &__content {
    padding: 80px 0;
    @media (max-width: 628px) {
      padding: 50px 0;
    }
  }

  &__title {
    max-width: 700px;
    margin: 0 auto 131px;
    font-size: 36px;
    line-height: 1.2;
    @include bold;
    color: #535353;
    text-align: center;
    @media (max-width: 628px) {
      margin-bottom: 60px;
    }
  }
}

.why-list {
  max-width: 781px;
  margin: 0 auto;
  @media (max-width: 628px) {
    max-width: none;
  }
}

.why-item {
  display: flex;
  justify-content: space-between;
  @media (max-width: 698px) {
    align-items: center;
  }
  &:not(:first-child) {
    margin-top: 75px;
  }
  &__content {
    flex-basis: 50%;
    margin-top: 20px;
    &_img-first {
      margin-left: auto;
    }
    @media (max-width: 698px) {
      flex-basis: 55%;
    }
    @media (max-width: 510px) {
      flex-basis: 75%;
    }
  }

  &__title {
    font-size: 30px;
    line-height: 1.2;
    @include bold;
    color: #68b0c9;
    margin-bottom: 32px;
  }

  &__text {
    font-size: 18px;
    line-height: 1.2;
    @include light;
    color: #535353;
  }

  &_img-first {
    text-align: right;
    position: relative;
    &::before {
      content: '';
      display: block;
      width: 203px;
      height: 55px;
      background-image: url(../img/why/arrow-left.svg);
      position: absolute;
      top: -60px;
      left: 31%;
      background-repeat: no-repeat;
      @media (max-width: 698px) {
        display: none;
      }
    }
  }

  &_img-second {
    position: relative;
    &::before {
      content: '';
      display: block;
      width: 203px;
      height: 55px;
      background-image: url(../img/why/arrow-right.svg);
      position: absolute;
      top: -60px;
      left: 38%;
      background-repeat: no-repeat;
      @media (max-width: 698px) {
        display: none;
      }
    }
  }

  &__img-wrapper {
    border-radius: 50%;
    &::after {
      display: block;
      margin: 0 auto;
      content: '';
      width: 183px;
      height: 26px;
      background-image: url(../img/why/shadow.png);
    }
    @media (max-width: 698px) {
      width: 40%;
      margin-top: 50px;
    }
    @media (max-width: 510px) {
      display: none;
    }
  }

  &__img {
    width: 100%;
  }
}
